.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
img {
  height: 100px;
  width: 100px;
}
.bGround {
  background: rgba(194, 202, 81);
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(94, 0, 0);
}
