<div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">{{item?.pName}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <img src="{{item?.img}}">
                </div>
                <div class="col-12">
                    <h4>{{item?.pName}}</h4>
                </div>
                <br>
                <div class="col-12">
                    <p>
                        {{item?.price| currency}}
                    </p>
                </div>
                <div class="col-12">
                    {{item?.pDesc}}
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" (click)="addToCart(item)"> Add to Cart</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>

    <button class="btn btn-primary btn-sm" (click)="openWindowCustomClass(content)">
        Product
        <br>
        Description
    </button>
</div>