<div class="container-fluid navAttribute">
    <ul class="d-flex  mr-5 nav">
      <li class="mx-1">
        <button>
          <img class="smallImg" src="./assets/pc.png">
          PC Products
        </button>
      </li>

      <li class="mx-1">
        <button>
          <img class="smallImg" src="./assets/ps4-png-ps4-png-300.png">
          PS4 Products
        </button>
      </li>
      <li class="mx-1 mr-3">
        <button>
          <img class="smallImg" src="./assets/xbox-512.png">
          Xbox Products
        </button>
      </li>
    </ul>
  </div>