<body class="imgBg">

    <div class="container-fluid">
        <div class="row ml-3">
            <span class="ml-auto">
                <ul class="d-flex justify-content-end ml-5 nav">
                    <li class="nav-item ml-5 d-flex align-items-center">
                        <button class="ml-5 nav-link active" routerLink="/products" routerLinkActive="active">
                            Products
                        </button>
                    </li>
                    <img class="img-fluid imgLogo" src=".\assets\Logo.png">
                    <li class="nav-item d-flex align-items-center">
                        <button class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</button>
                    </li>
                </ul>
            </span>
            <ul class="nav d-flex ml-auto">
                <li class="d-flex align-items-center nav-item">
                    <button class="nav-link mr-3" routerLink="/login" routerLinkActive="active">Login</button>
                    <img class="img-fluid imgProfile mr-3" routerLink="/cart" routerLinkActive="active"
                        src="/assets/Cart.png">
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid navAttribute mt-4">
        <ul class="d-flex justify-content-center mr-5 nav">
            <li class="mx-1">
                <button>
                    <img class="smallImg" src="./assets/pc.png">
                    PC Products
                </button>
            </li>

            <li class="mx-1">
                <button>
                    <img class="smallImg" src="./assets/ps4-png-ps4-png-300.png">
                    PS4 Products
                </button>
            </li>
            <li class="mx-1 mr-3">
                <button>
                    <img class="smallImg" src="./assets/xbox-512.png">
                    Xbox Products
                </button>
            </li>
        </ul>
    </div>

    <div class="hero-text">
        <h1 style="font-size:30px" class="mt-5 mx-5">
            Become a King, become a God, become a Ruler!
            <br>
            Use the best Products!
        </h1>
        <button class="mt-4">Buy Now</button>
    </div>
</body>