<div class="container-fluid">
    <app-navbar></app-navbar>

    <div class="container mt-5">
        <div class="row background p-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 my-3 mx-auto">
                        <input #createUN type="text" class="form-control" placeholder="Create Username"
                            aria-label="Create Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="col-6">
                        <input #FirstName type="text" class="form-control" placeholder="First Name"
                            aria-label="First Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="col-6 pl-1">
                        <input #LastName type="text" class="form-control" placeholder="Last Name" aria-label="Last Name"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="col-12 my-3">
                        <input #email type="text" class="form-control" placeholder="Email Address"
                            aria-label="Email Address" aria-describedby="basic-addon1">
                    </div>

                    <div class="col-12">
                        <input #confirmEmail type="text" class="form-control" placeholder="Confirm Email"
                            aria-label="Confirm Email" aria-describedby="basic-addon1">
                    </div>

                    <div class="col-12 my-3">
                        <input #createPW type="password" class="form-control" placeholder="Create Password"
                            aria-label="Create Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="col-12">
                        <input #confirmPW type="password" class="form-control" placeholder="Confirm Password"
                            aria-label="Confirm Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="col-8"></div>
                    <div class="col-4  mt-3 d-flex justify-content-end">
                        <button type="button" (click)='createAccount(FirstName.value, LastName.value, email.value, confirmEmail.value, createPW.value,
                        confirmPW.value, createUN.value)' class="btn btn-dark">
                            Create Account</button>
                    </div>
                </div>
            </div>

            <div class="col-6 vl">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 py-3">
                        <input #un type="text" class="form-control" placeholder="Username" arial-label="Username"
                        aria-describedby="basic-addon1">
                    </div>
                    <div class="col-2"></div>
                    
                    <div class="col-2"></div>
                    <div class="col-8">
                        <input #pw type="password" class="form-control" placeholder="Password" arial-label="Password"
                        aria-describedby="basic-addon1">
                    </div>
                    <div class="col-2"></div>
                    
                    <div class="col-2"></div>
                    <div class="col-8 py-3 d-flex justify-content-end">
                        <button type="button" (click)='logIn(un.value,pw.value)' class="btn btn-dark" routerLink="/profile" routerLinkActive="active">Log In</button>

                    </div>
                    <div class="col-2"></div>
                </div>
              
            </div>
        </div>
    </div>
</div>