<div class="container">

    <div class="row rowAttribute" *ngFor="let cItem of cartItems">
        <div class="col">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            {{cItem.pName}}
                        </div>
                        <div class="col-3">
                            {{cItem.pDesc}}
                        </div>
                        <div class="col-3">
                            {{cItem.qty}}
                        </div>
                        <div class="col-3">
                            <button  (click)="removeItem(cItem)"  type="button" class="btn btn-danger">Remove Item</button>
                        </div>
                    </div>
                </div>
                <input>
            </div>
        </div>
    </div>
    <button type="button" (click)="removeCartItems()" class="btn btn-danger">Remove All</button>
</div>