<ul class="nav row navbarA">
    <div class="col-6 d-flex align-items-center">
        <li>
            <img src="/assets/Logo.png">
        </li>
        <li class="nav-item">
            <button class="nav-link active">Home</button>
        </li>
        <li class="nav-item">
            <button class="nav-link">About Us</button>
        </li>
        <li class="nav-item">
            <button class="nav-link">Products</button>
        </li>
    </div>
    <div class="col-6 d-flex  align-items-center justify-content-end">
        <li>
            <button class="nav-link">Login</button>
        </li>
        <li>
            <img class="cart" src="/assets/Cart.png">
        </li>
    </div>
</ul>