<div class="container-fluid">
    <app-navbar></app-navbar>

    <div class="container background">
        <div class="row">
            <div class="col-4 mt-3">
                <img src="\assets\Abraham_Lopez_Headshot-2.jpg">
            </div>
            <div class="col-8">
                <div class="row marginTop">
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <h1> Ruling Games Creator </h1>

                    </div>
                    
                    <div class="col-12">
                        <p> People shouldn't have to buy poor quality products to get by!<br>
                        They should have the best products to better <b>MEASURE</b> their performance.
                        To <b>SIZE</b> up the competition and over all to be a <b>RULER!</b>.
                        </p>
                    </div>
                    <div class="col-8 d-flex justify-content-end">
                        <h4> -Abraham Lopez</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>