img {
  width: 300px;
  height: 375px;
  border-radius: 5px;

}
.background {
  border-color: rgba(94, 0, 0);
  background-color: rgba(236, 224, 228);
  border-radius: 30px;
  border-style: solid;
  margin-top: 10%;
  height: 425px;
  width: 1000px;
}
h1{
    color: rgba(94, 0, 0);
}
h4{
    color: rgba(94, 0, 0);
}
p{
    color: rgba(94, 0, 0);
    font-size:20px;
}
.marginTop{
    margin-top:50px;
}