<div class="heroIMG">
    <div class="heroText">
        <h1> Welcome!</h1>
    </div>
    <div class="heroText2">
        <h1>
            I'm glad you found this site!
        </h1>
    </div>
    <div class="heroText3">
        <h1>
            I want to Introduce you to someone.
        </h1>
    </div>
    <div class="row">

        <div class="col-6 heroText4">
            <div class="">
                <h1>
                    <b>
                        Who
                    </b>
                    I am.

                </h1>
            </div>
        </div>
        <div class="col-6 heroText5">
            <div class="">
                <h1>
                    <b>
                        What
                    </b>
                    I do!
                </h1>
            </div>
        </div>
    </div>

</div>