/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
body {
  background: url("/assets/Background.jpg");
  background-size: cover;
  height: 100vh;
}
